$sm: 8px;
$md: 16px;
$lg: 32px;

#logo {
    max-height: 40px;
    margin-right: $md;
}

// #navbarColor02 {
//     padding-top: 12px;
// }

#navbarColor02 > form > input {
    width: auto;
    margin-right: $sm;
}

// #navbarColor02 > ul {
//     border-top: 1px solid #204a55;
// }