<div class="jumbotron">
    <h3>PortfolioComponent</h3>
    <div>
        <label>Project name:
            <input #projectName (keyup.enter)="add(projectName.value); projectName.value=''"/>
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add(projectName.value); projectName.value=''">
            add
        </button>
    </div>

    <div id="project" *ngIf="project">
        <h3>{{ project.id }}, {{ project.name }}</h3>
        <br>
        <input #updateName placeholder="Update name..." (keyup.enter)="update(updateName.value, project); updateName.value=''"
        />
        <button (click)="update(updateName.value, project); updateName.value=''">
            update
        </button>
    </div>
</div>

<ul *ngFor="let project of projects">
    <li><div class="project-list" (click)="getProject(project.id)">Id: {{ project.id }}, name: {{ project.name }} </div><button class="delete" title="delete project"
    (click)="delete(project)">x</button></li>
</ul>