<div class="jumbotron">
    <h3>PortfolioComponent</h3>
    <div>
        <label>Project name:
            <input #projectName />
        </label>
        <!-- (click) passes input value to add() and then clears the input -->
        <button (click)="add(projectName.value); projectName.value=''">
            add
        </button>
    </div>

    <div id="project" *ngIf="project">
        <h3>{{ project.id }}, {{ project.name }}</h3>
        <br>
        <input #updateId placeholder="Id" (keyup.enter)="update(updateId.value, updateName.value); updateId.value=''; updateName.value=''"
        />
        <input #updateName placeholder="Name" (keyup.enter)="update(updateId.value, updateName.value); updateId.value=''; updateName.value=''"
        />
        <button (click)="update(updateId.value, updateName.value); updateId.value=''; updateName.value=''">
            update
        </button>
    </div>
</div>

<ul *ngFor="let project of projects">
    <li class="project-list" (click)="getProject(project.id)">Id: {{ project.id }}, name: {{ project.name }}</li>
</ul>